<p>
<b>Здравствуйте, {{Name}} {{Surname}}!</b>
</p>

<p>
Благодарим Вас за интерес к компании RBC Group, а также к решению для бизнес-анализа Qlik Sense.
</p>

<p>
Для перехода к демонстрационному приложению «{{applicationTitle}}» пройдите по ссылке: {{{access_url}}}
</p>

<p>
Согласно корпоративным правилам компании RBC Group, доступ к приложению предоставляется с {{Registered}} по {{Granted}}.
Работа с приложением доступна на любых мобильных платформах.
</p>
{{>contacts.ru}}
