<p>
<b>Здравствуйте, {{name}} {{surname}}!</b>
</p>

<p>
Благодарим Вас за интерес к компании RBC Group, а также к решению для бизнес-анализа Qlik Sense.
</p>

<p>
Для перехода к демонстрационному приложению «{{applicationTitle}}» пройдите по ссылке: {{{access_url}}}
</p>

<p>
Согласно корпоративным правилам компании RBC Group, доступ к приложению предоставляется с {{registeredDate}} по {{grantedDate}}.
Работа с приложением доступна на любых мобильных платформах.
</p>

<p>
Телефон: +38 (044) 364 17 42
<br/>
E-mail: marketing@rbcgrp.com
<br/>
www.rbcgrp.com
</p>
