<p>
<b>Уведомление о новой регистрации</b>
</p>

<p>
ФИО: {{Name}} {{Surname}} <br />
Компания: {{Company}} <br />
Должность: {{Position}} <br />
Телефон: {{Phone}} <br />
Email: {{Email}} <br />
Область интереса: {{IndustryID}} <br />
Демо-приложение: {{applicationTitle}} <br/>
</p>
