<section class="capability-form">
    <div class="container">
        <!--div class="capability-form_title">{{{translations.title}}}</div-->
        <div class="capability-items">
          <div class="capability-item capability-item_active">{{{translations.qliksense}}}</div>
          <a href="//support.rbcgrp.com/register" class="capability-item capability-item_inactive capability-link">{{{translations.qlikview}}}</a>
        </div>
        <div class="capability-form_wrapper clearfix">
            <form method="post">
                <div class="capability-form_title--small">{{{translations.industry}}}</div>
                <div class="capability-form_all">
                    <div class="wrapper_select {{#if errors.industry}}has-error{{/if}}">
                        <select name="industry" id="industry" class="package-select select select2-hidden-accessible" required>
                          <option value>{{{translations.select}}}</option>
                          {{#each streams}}
                          <option {{#if this.selected }} selected="selected" {{/if}}>{{this}}</option>
                          {{/each}}
                        </select>
                        {{#if errors.industry}}
                        <p class="bg-danger">{{errors.industry.error}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="capability-form_title--small">{{{translations.application}}}</div>
                <div class="capability-form_all">
                    <div class="wrapper_select {{#if errors.application}}has-error{{/if}}">
                        <select name="application" id="application" class="package-select select select2-hidden-accessible" required>
                          <option value>{{{translations.select}}}</option>
                          {{#each apps}}
                          <option value="{{this.id}}|{{this.name}}" {{#if this.selected }} selected="selected" {{/if}}>{{this.name}}</option>
                          {{/each}}
                        </select>
                        {{#if errors.application}}
                        <p class="bg-danger">{{errors.application.error}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="capability-form_left">
                    <div class="wrapper_input {{#if errors.name}}has-error{{/if}}">
                        <label for="name">{{{translations.name}}} <sup>*</sup></label>
                        <input id="name" name="name" value="{{values.Name}}" type="text">
                        {{#if errors.name}}
                          <p class="bg-danger">{{errors.name.error}}</p>
                        {{/if}}
                    </div>
                    <div class="wrapper_input {{#if errors.surname}}has-error{{/if}}">
                        <label for="surname">{{{translations.surname}}} <sup>*</sup></label>
                        <input id="surname" name="surname" type="text" value="{{values.Surname}}" required>
                        {{#if errors.surname}}
                        <p class="bg-danger">{{errors.surname.error}}</p>
                        {{/if}}
                    </div>
                    <div class="wrapper_input {{#if errors.phone}}has-error{{/if}}">
                        <label for="phone">{{{translations.phone}}} <sup>*</sup></label>
                        <input id="phone" name="phone" type="tel" value="{{values.Phone}}" required>
                        {{#if errors.phone}}
                          <p class="bg-danger">{{errors.phone.error}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="capability-form_right">
                    <div class="wrapper_input {{#if errors.email}}has-error{{/if}}">
                        <label for="email">{{{translations.email}}} <sup>*</sup></label>
                        <input id="email" name="email" type="email" value="{{values.Email}}" required>
                        {{#if errors.email}}
                        <p class="bg-danger">{{errors.email.error}}</p>
                        {{/if}}
                    </div>
                    <div class="wrapper_input {{#if errors.company}}has-error{{/if}}">
                        <label for="company">{{{translations.company}}}<sup>*</sup></label>
                        <input id="company" name="company" type="text" value="{{values.Company}}" required>
                        {{#if errors.company}}
                        <p class="bg-danger">{{errors.company.error}}</p>
                        {{/if}}
                    </div>
                    <div class="wrapper_input {{#if errors.position}}has-error{{/if}}">
                        <label for="position">{{{translations.position}}} <sup>*</sup></label>
                        <input id="position" name="position" type="text" value="{{values.Position}}" required>
                        {{#if errors.position}}
                        <p class="bg-danger">{{errors.position.error}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="capability-captcha">
                    <div class="g-recaptcha" data-sitekey="{{SITE_KEY}}"></div>
                    {{#if errors.captcha}}
                    <p class="bg-danger">{{errors.captcha.error}}</p>
                    {{/if}}
                </div>
                <div class="capability-btn">
                    <button type="submit" class="btn btn--green-dark">{{{translations.submit}}}</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
$(document).ready(function(){
  $('#industry').on('change', function(){
    var industry = $('#industry').val();
    if(industry) {
      $.get('{{mountpath}}/api/' + industry + '/apps', function(data) {
        var apps$ = $('#application');
        apps$.empty();
        var apps = [];
        $.each(data, function (key, val) {
          apps.push($('<option value="' + val.id + '|' + val.name + '">' + val.name + '</option>'));
        });
        apps$.append(apps);
      });
    } else {
      $('#application').empty();
    }
  });
});
</script>
